oidc_op/src/main/resources/configDatabaseSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clientDatabase">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="redirect_uris">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="redirect_uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="client_id"/>
              <xs:element type="xs:string" name="client_secret"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
