oidc_op/src/main/resources/configDatabaseSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clientDatabase"  maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:id" name="name" maxOccurs="1" minOccurs="1"/>
              <xs:element name="redirect_uris"  maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="redirect_uri"  maxOccurs="10" minOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:id" name="client_id"  maxOccurs="1" minOccurs="1"/>
              <xs:element type="xs:string" name="client_secret"  maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
